@model CadastroClientes.Core.Models.Logradouro
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div style="background: #ff9900" class="card-header text-white">
                        <h3 class="mb-0">Cadastro de Logradouro - Deletar</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Delete" method="post" class="mt-4">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" name="clienteId" value="@ViewBag.ClienteId" />
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        Deseja Realmente Excluir o Logradouro <strong><label asp-for="Endereco" name="Endereco" id="Endereco" value="@Model?.Endereco" class="control-label"> @Model?.Endereco</label></strong>
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>

                            <div class="form-group" align="center">
                                <button type="submit" class="btn btn-success" title="Excluir o cadastro do Cliente">&nbsp;&nbsp;Sim&nbsp;&nbsp;</button>
                                <a asp-action="Index" asp-controller="Logradouros" asp-route-clienteId="@ViewBag.ClienteId" class="btn btn-warning ml-2">Não</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

